*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
    max-width: 340px;
    padding-bottom: 7px;
}
.logo {
    justify-content: center;
    align-items: center;
    width: 130px;
}
h1{
    padding-bottom: 14px;
    font-size: 32px;
}
h3{
    padding-bottom: 20px;
}
.livro{
    width: 250px;
    padding-bottom: 10px;
}
.box-preco {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.de-por {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
s {
    color: red;
}
.somente {
    max-width: 250px;
}
.preco {
    justify-content: center;    
    font-size: 56px;
}
.box-botao {
    margin-bottom: 20px;
}
.botao-comprar {
    background-color: rgb(76, 216, 21);
    width: 250px;
    border: solid black 1px;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 10px;
}
.comprar {
    font-size: 26px;
    text-decoration: none;
    color: black;
}
.primeiro-paragrafo {
    padding-bottom: 10px;
    font-size: 1.15em;
}
#nove-e-vinte-nove {
    width: 300px;
    border: 2px solid black;
    border-radius: 7px; 
    margin-bottom: 7px;   
}
.segunda-parte img {
    width: 100%;
}
.segundo-paragrafo{
    font-size: 1.15em;
    margin-bottom: 50px;
}
.segundo-titulo {
    
    padding-bottom: 50px;
}
.terceiro-paragrafo {
    padding-bottom: 50px;
}
.box-galeria {
    position: relative;
    display: flex;
    width: 370px;
    height: 500px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-bottom: 30px;

}
.galeria {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width:350px;
}

.slider {
    position: absolute;
    width: 100%;
    border-radius: 10px;
    opacity: 0;
}

.on {
    opacity: 1;
}
#esquerda, #direita {
    margin: 10px;
    display:flex;
    align-items: center;
    background-color:transparent;
    width: 10px;
    height: 20px;
    border: none;
    cursor: pointer;
}
.imgesquerda, .imgdireita {
    width: 20px;
}
#esquerda video, #direita video {
    justify-content: right;
    width: 100%;
    height: 100%;
}
#esquerda {
    transform:rotate(180deg) ;
}
.box-cta-final {
    padding-bottom: 20px;
}
.rodape {
    margin-bottom: 20px;
    font-size: 11px;
    background-color: aliceblue;
    background-color: transparent;

    
}

/*tables*/
@media screen and (min-width: 762px) {
    .head{
        min-width: 750px;
    }
    #nove-e-vinte-nove {
        width: 550px;
        margin-bottom: 25px;
    }
    .box-cta-final {
        padding-bottom: 40px;
    }
    .primeiro-paragrafo {
        padding-bottom: 20px;
    }

}
/*telas*/
@media screen  and ( min-width:1024px ) {
    body {
        font-size: 1.65em;
    }
    .head {
        min-width: 990px;
        /*background-color: aqua;*/
    }
    .logo {
        width: 180px;
    }
    h1 {
        font-size: 52px;
        padding-bottom: 28px;
    }
    h3 {
        font-size: 32px;
        padding-bottom: 40px;
    }
    .livro {
        width: 450px;
        padding-bottom: 40px;
    }
    .primeiro-paragrafo {
        padding-bottom: 30px;
    }
    .somente {
        max-width: 350px;
        font-size: 26px;
    }
    .preco {
        font-size: 96px;
    }
    .box-botao {
        display: flex;
        justify-content: center;
        width: 450px;
        margin-bottom: 40px;
    }
    .botao-comprar{
        width: min-content;
    }
    .comprar {
        font-size: 42px;
        display: flex;
        align-items: center;
        padding: 5px 50px;
    }
    .box-galeria {
        width: 500px;
        height: 625px;
    }
}